<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="FallbackFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logfiles/fallback.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%5thread] %10level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="AzureTableStorageEventAppender" type="SquadLocker.Common.Library.Logging.AzureTableStorageAppender, SquadLocker.Common.Library.Logging">
    <param name="TableSettingName" value="TableStorageEventTableName" />
    <param name="ConnectionStringSettingName" value="TableStorageEventConnection" />
    <param name="FallbackLoggerName" value="AzureTableStorageAppenderFallbackLogger" />
  </appender>

  <appender name="AzureTableStorageExceptionAppender" type="SquadLocker.Common.Library.Logging.AzureTableStorageAppender, SquadLocker.Common.Library.Logging">
    <param name="TableSettingName" value="TableStorageExceptionTableName" />
    <param name="ConnectionStringSettingName" value="TableStorageExceptionConnection" />
    <param name="FallbackLoggerName" value="AzureTableStorageAppenderFallbackLogger" />
  </appender>

  <appender name="SentryExceptionAppender" type="SquadLocker.Common.Library.Logging.SentryAppender, SquadLocker.Common.Library.Logging">
    <param name="DSNSettingName" value="SentryExceptionDSN" />
    <param name="FallbackLoggerName" value="SentryAppenderFallbackLogger" />
  </appender>

  <appender name="RollbarAppender" type="SquadLocker.Common.Library.Logging.RollbarAppender, SquadLocker.Common.Library.Logging">
    <param name="AccessTokenSettingName" value="RollbarAccessToken" />
    <param name="EndpointSettingName" value="RollbarEndpoint" />
    <param name="EnvironmentSettingName" value="RollbarEnvironment" />
  </appender>


  <logger additivity="false" name="UnhandledExceptionLogger">
    <level value="ALL" />
    <appender-ref ref="AzureTableStorageExceptionAppender" />
    <!--<appender-ref ref="SentryExceptionAppender" />-->
    <appender-ref ref="RollbarAppender" />
  </logger>

  <logger additivity="false" name="RequestEventLogger">
    <level value="ALL" />
    <appender-ref ref="AzureTableStorageEventAppender" />
  </logger>

  <logger additivity="false" name="AzureTableStorageAppenderFallbackLogger">
    <level value="ERROR" />
    <appender-ref ref="FallbackFileAppender" />
  </logger>
  
  <logger additivity="false" name="SentryAppenderFallbackLogger">
    <level value="ERROR" />
    <appender-ref ref="FallbackFileAppender" />
  </logger>

  <root>
    <level value="ERROR" />
    <appender-ref ref="AzureTableStorageExceptionAppender" />
    <!--<appender-ref ref="SentryExceptionAppender" />-->
    <appender-ref ref="RollbarAppender" />
  </root>

</log4net>